In [2]:
import numpy as np
import pandas as pd 
import seaborn as sns

In [4]:
df = pd.read_csv('energy/KwhConsumptionBlower78_1.csv')

In [5]:
df.head()

   Unnamed: 0      TxnDate   TxnTime  Consumption
0       76229  01 Jan 2022  16:55:52        1.010
1       76258  01 Jan 2022  21:45:29        0.908
2       76287  01 Jan 2022  12:24:52        0.926
3       76316  01 Jan 2022  04:07:36        0.928
4       76345  01 Jan 2022  06:52:25        0.916

In [6]:
d2 = pd.read_csv('energy/KwhConsumptionBlower78_2.csv')
d3 = pd.read_csv('energy/KwhConsumptionBlower78_3.csv')

In [7]:
d2.head()

   Unnamed: 0      TxnDate   TxnTime  Consumption
0           0  21 Jan 2022  01:57:23        4.632
1           1  21 Jan 2022  06:15:59        6.080
2           2  21 Jan 2022  13:11:00        3.194
3           3  21 Jan 2022  15:22:43        2.038
4           4  21 Jan 2022  22:01:21        7.428

In [8]:
d3.head()

   Unnamed: 0      TxnDate   TxnTime  Consumption
0           0  01 Feb 2022  14:41:48        1.016
1           1  01 Feb 2022  17:28:44        0.928
2           2  01 Feb 2022  19:51:07        0.988
3           3  01 Feb 2022  07:26:39        1.126
4           4  01 Feb 2022  05:20:47        0.886

In [9]:
df_n = pd.concat([df,d2,d3])

In [12]:
df_n.describe

<bound method NDFrame.describe of       Unnamed: 0      TxnDate   TxnTime  Consumption
0          76229  01 Jan 2022  16:55:52        1.010
1          76258  01 Jan 2022  21:45:29        0.908
2          76287  01 Jan 2022  12:24:52        0.926
3          76316  01 Jan 2022  04:07:36        0.928
4          76345  01 Jan 2022  06:52:25        0.916
...          ...          ...       ...          ...
1743        1743  28 Feb 2022  22:01:52        1.020
1744        1744  28 Feb 2022  08:54:15        0.948
1745        1745  28 Feb 2022  06:26:48        0.912
1746        1746  28 Feb 2022  03:21:12        1.064
1747        1747  28 Feb 2022  18:38:23        0.976

[3606 rows x 4 columns]>

In [13]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3606 entries, 0 to 1747
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   3606 non-null   int64
 1   TxnDate      3606 non-null   object
 2   TxnTime      3606 non-null   object
 3   Consumption  3606 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 140.9+ KB

In [14]:
import matplotlib.pyplot as plt

In [22]:
df_n.columns

Index(['id', 'date', 'time', 'consumption'], dtype='object')

In [21]:
df_n.columns = ["id","date","time","consumption"]

In [33]:
parse_dates= date_parser(df_n.date, df_n.time)
date_parser=lambda x,y: df_n.to_datetime(x+' '+y,format='%d %b %Y %H:%M:%S')

AttributeError: 'DataFrame' object has no attribute 'to_datetime'

In [29]:
df_n.head()

      id         date      time  consumption
0  76229  01 Jan 2022  16:55:52        1.010
1  76258  01 Jan 2022  21:45:29        0.908
2  76287  01 Jan 2022  12:24:52        0.926
3  76316  01 Jan 2022  04:07:36        0.928
4  76345  01 Jan 2022  06:52:25        0.916

In [31]:
date_parser